.board {
    width: 1000px;
    height: 500px;
}

.board-element {
    width: 10px;
    height: 10px;
    outline: 1px solid;
    float: left;
    background-color: white;
}

.board-element-marked {
    background-color: yellow;
}

.center-div {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 3px;
}
